@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

.flair-font {
    font-family: 'Graduate', cursive;
}


//Navbar
nav {
    background-color: white;
}

.navbar-brand {
    padding-left: 17%;
}

nav {
    a {
        color: black!important;
        font-size: 17px;
    }
}

nav {
    li {
        a:hover {
            border-top: 4px solid black;
        }
    }
}

nav {
    #navbarSupportedContent {
        margin-left: 11%;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

.active {
    border-top: 4px solid black;
}

//sets location of nav links when screen is lg
@media (min-width: 960px) {
    nav {
        .navbar-nav {
            position: absolute;
            bottom: 0;
        }
    }

    //center dropdown boxes
    .dropdown .dropdown-menu {
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: 100% !important;
        text-align: center;
    }
}

@media (max-width: 959px) {
    .dropdown .dropdown-menu {
        text-align: left;
    }
}

nav {
    li {
        padding-right: 15px;
    }
}

//End of navbar

//Footer
footer {
    background-color: black;
}

.copyright {
    padding-top: 20px;
    line-height: 10px;
}

.underline {
    margin: auto;
    width: 30%;
    border: 2px solid white;
    margin-bottom: 15px;
    margin-top: 10px;
}

.footer-info {
   width: fit-content;
   margin: auto;
}


.socials {
    font-size: 20px;
}
//End of footer

//**4-1-1 PAGE**
/* banner */
header {
    height: 100vh;
  }

  .banner-heading {
      font-size: 90px;
  }
  
  .banner-text {
    margin-top: 80px;
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: white;
  }
  
  .banner-p {
    margin-top: 30px;
    font-size: 26px;
  }

  .my-bold {
      font-weight: 500;
  }
  .img-container {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 100px;
  }
  
  .bg-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* end of banner */

  /* body */
  #statement {
      text-align: center;
      margin: 50px;
      .col {
          padding-top: 100px;
      }
      h2 {
        letter-spacing: 0.05em;
        font-size: 65px;
        font-weight: bolder;
      }
      p {
          font-size: 25px;
          font-weight: 500;
          margin-right: 25%;
          margin-left: 25%;
      }
  }

  #faq, #faq-pt2 {
      h3 {
          font-size: 2.3rem;
      }
      .accordion-button {
          color: black;
          font-family: 'Graduate', cursive;
          font-weight: bold;
          background-color: white;
      }
      .accordion-header {
        background-color: white;
        button {
            font-size: 19px;
        }
      }
      .accordion-item {
        border: 1px solid rgb(0, 0, 0);
      }
  }

  .featured-img-container {
      img {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 100%;
          height: auto;
      }
  }

  #tustin-text-overlay {
    background-color: white;
  }

  #faq-pt2 {
      margin-bottom: 30px;
  }

  .accordion-reserve-btns {
      button {
        background-color: white;
        border: 4px solid black;
        margin-left: 10%;
        margin-right: 10%;
      }
  }
  /* end of body */

//**END OF 4-1-1 PAGE**